page-documents {
//css
  .force-back-button {
    display: inline-block;
  }
  .image__grid {
		margin-top: 5px;
		overflow: hidden;
		.image__square:nth-child(4n+4){
			padding-right: 5px;
		}
		.image__square {
			// height: 90vw;
			// width: 92vw;
			float: left;
			margin: 0px 0px 0px 0px;
			border: 1px solid #ccc;
			img {
			    height: 100%;
    			    width: 100%;
    			    object-fit: cover;
			}
		}
	}
}
