<ion-header>
      <ion-navbar>
        <ion-title text-center>{{title}}</ion-title>
      </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let note_group of notes">
      <ion-card-content>
        <p style="white-space: pre-line" [innerHTML]="conversion(note_group.data.content)"></p>
      </ion-card-content>
      <ion-list *ngIf="note_group.data.documents.length > 0" >
          <ion-item no-lines >
            <div class="image__grid" >		
              <div class="image__square"  *ngFor="let image of note_group.data.documents" >
                <img 
                class="image__square"
                [src]="rootAddress + image.data.thumbnail"
                (click)="openPhoto(image)"
                />
              </div>			
            </div>
          </ion-item>	
          <ion-item text-right>
              <button ion-button icon-end right>
                  <ion-icon name="undo"></ion-icon>
              </button>
          </ion-item>	
      </ion-list>

        <ion-card *ngFor="let note of note_group.children">
            <ion-card-content>
              <p>{{note.data.content}}</p>
              <div class="image__grid" >	
                  <br><br>	
                <div class="image__square"  *ngFor="let image of note.data.documents" >
                  <img 
                  class="image__square"
                  [src]="rootAddress + image.data.thumbnail"
                  (click)="openPhoto(image)"
                  />
                </div>			
              </div>
            </ion-card-content>
        </ion-card>        
      </ion-card>
  </ion-content>
  
