<ion-header>
    <ion-toolbar>
    </ion-toolbar>
    <ion-toolbar text-center>
      <ion-title>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list padding-top>
        <ion-item *ngIf="assets.length === 0">
            <ion-label>
                No Sub assets available for this asset
              </ion-label>
        </ion-item>
        <ion-item 
        (click)="navigate(item)"
        detail lines="full" *ngFor="let item of assets" >
          <ion-label>
            {{item.asset_name}}
          </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
