<ion-header>
    <ion-toolbar  *ngIf="showToolbar === true">
    </ion-toolbar>
    <!-- <ion-toolbar text-center  *ngIf="showToolbar === true">
    </ion-toolbar> -->
    <ion-navbar *ngIf="showToolbar === false">
        <ion-buttons start left>
            <button ion-button icon-only (click)="back()">
              <ion-icon name="arrow-back"></ion-icon>
            </button>
          </ion-buttons>
      <ion-title text-center>{{title}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-fab  bottom right  *ngIf="showToolbar === true" >
        <button ion-fab (click)="add()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
  <ion-card *ngFor="let task of tasks">
      <ion-item>
        <h2>{{task.data.title}}</h2>
        <p>Due: {{task.data.due_by | date}}</p>
      </ion-item>
    
      <ion-card-content>
        <p>{{task.data.description}}</p>
      </ion-card-content>
    
      <ion-row>
        <ion-col>
          <button [color]="cssClass(task.data.status)" ion-button icon-start clear small>
            <ion-icon name="clock"></ion-icon>
            <div style="text-transform: uppercase">
              {{task.data.status}}
            </div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-start clear small>
            <div>By: {{task.data.creator.full_name}}</div>
          </button>
        </ion-col>
        <ion-col center text-right>
            <button ion-button icon-start clear item-end
            (click)="navigate(task)">
                <ion-icon name="arrow-forward"></ion-icon>
              </button>
        </ion-col>
      </ion-row>
    
    </ion-card>
</ion-content>
